<!DOCTYPE html>
<html>
<head>
	<title>Auth Boilerplate</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<% include partials/navbar%>
	<!-- 1st thing you should do -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<% include partials/alerts%>
				<%- body%>
			</div>
		</div>
	</div>

</body>
</html>